.swipe-out-right {
    animation: swipeOutRight 0.5s forwards; /* アニメーションを適用 */
}

@keyframes swipeOutRight {
    to {
        opacity: 0; /* 完全に透明になる */
        transform: translateX(100%); /* 右に移動 */
    }
}

header {
    height: 8vh;
    background-color: #153a5b;
    /* position: relative; */
    display: flex;
    justify-content: right;
    align-items: center;
}

.logo {
    height: 100%;
    margin-right: auto; /* ロゴを左端に配置 */
    margin-left: 1rem; /* ロゴとテキストの間に余白を設定 */
    align-items: center;

}


header > h2 > a {
    color: white;
    text-decoration: none;
    font-size: 1.6rem;
    margin: 0 1.5rem;
}

header p {
    color: white;
    font-size: 1.7rem;
    font-weight: bold;
}

header h5 {
    font-size: 0.8rem;
    color: white;
    position: absolute;
    right: 1rem;
    bottom: 0.3rem;
    font-weight: lighter;
}

p:hover .balloon {
    display: block;
}

.balloon {
    position : absolute;               
    display: none;            
    padding: 0.3rem 0.5rem;  
    border-radius: 2px;
    color: #153a5b;                  
    background-color: rgba(255, 255, 255, 0.9);                              
    font-size: 0.8rem; 
  }
