.swipe-out-right {
    animation: swipeOutRight 0.5s forwards; /* アニメーションを適用 */
}

@keyframes swipeOutRight {
    to {
        opacity: 0; /* 完全に透明になる */
        transform: translateX(100%); /* 右に移動 */
    }
}

header {
    height: 8vh;
    background-color: #153a5b;
    display: flex;
    justify-content: right;
    align-items: center;
}

.logo {
    height: 100%;
    margin-right: auto; /* ロゴを左端に配置 */
    margin-left: 1rem; /* ロゴとテキストの間に余白を設定 */
    align-items: center;

}


header > h2 > a {
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
    margin: 0 1rem;
}

header p {
    color: white;
    font-size: 1.5rem;
}