.swipe-out-right {
    animation: swipeOutRight 0.5s forwards; /* アニメーションを適用 */
}

@keyframes swipeOutRight {
    to {
        opacity: 0; /* 完全に透明になる */
        transform: translateX(100%); /* 右に移動 */
    }
}

header {
    height: 8vh;
    background-color: #153a5b;
    display: flex;
    justify-content: right;
    align-items: center;
}

header > h2 > a {
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
    margin-right: 1rem;
}