html {
    background-color:#e7eefe;
}

.card-header{
    background-color:#153a5b;
    color: white;
}

.btn-primary{
    background-color:#153a5b;
    border: none; 
}
/* 
/* .backtosignup {
    background-color:pink;
    padding: 0.8rem;
    width: 15vw;
    border-radius: 15px;
    text-align: center;
    margin: 1.7rem auto;
    color: white;
/* }  */


.backtosignup {
    display: flex;
    justify-content: center; /* 横方向中央揃え */
    align-items: center; /* 縦方向中央揃え */
    position: fixed; /* 要素を固定位置に配置 */
    /* top: 30%; /* 上端を画面の中央に配置 */
    /* left: 50%; 左端を画面の中央に配置 */ 
    transform: translate(-50%, -50%); /* 中央揃え */
    text-decoration: none;
    width: 15vh; /* 幅を自動調整 */
    margin: 2rem;
    padding: 1rem;
    font-weight: bold;
    background: #153a5b;
    color: white;
    border-radius: 1vh;
    transition: 0.5s;
}
