
html, body {
    margin: 0;
    padding: 0;
    background-color: #153a5b;
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
    width: 0%;
    height: 100%;
}


.welcome_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* width: 100vw;
    height: 100vh; */
}


.welcome_logo {
    height: 35vh;
    align-items: center;
    justify-content: space-between;
    margin-top: 200px;

}

.welcome_logo p {
    color: white;
    font-size: 8rem;
    line-height: 85%;
    margin-top: 130%;
}

.welcome_login {
    width: 100vw;
    margin-bottom: 10%;
    height: 30vh;
    display: flex;
    justify-content: space-between;
}

.welcome_login a {
    color: white;
    text-decoration: none;
    font-size: 2.3rem;
    display: block; 
    align-items: center;
    /* display: flex; */
    /* justify-content: space-between; */
    margin-bottom: 2rem; 
    margin-left: 110px;
}


